@using EntityLayer.Concrete
@model List<Not>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/YazarLayout.cshtml";
}


<h2>Not Listesi</h2>
<br />
<form method="get" action="@Url.Action("Index", "Not")">
    <div class="form-group">
        <div class="input-group" style="max-width: 25%;">
            <input type="date" id="tarih" name="tarih" value="@ViewBag.SelectedDate" class="form-control">
            <div class="input-group-append">
                <span class="input-group-text" style="margin-left: 10px;">&nbsp;</span>
                <button type="submit" class="btn btn-warning">Filtrele</button>
            </div>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Tarih</th>
            <th>Detaylar</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Konu</td>
                <td>@(((DateTime)item.Tarih).ToString("dd-MMM-yyyy"))</td>
                <td><a href="/Not/NotOku/@item.Id" class="btn btn-primary">Detay</a></td>
                <td>
                    <button class="btn btn-danger delete-button" data-id="@item.Id">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".delete-button").click(function () {
                var id = $(this).data("id");
                Swal.fire({
                    title: "Emin misiniz?",
                    text: "Bu notu silmek istediğinizden emin misiniz?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Evet, sil!",
                    cancelButtonText: "İptal"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Silme işlemi burada gerçekleştirilebilir.
                        window.location.href = "/Not/NotSil/" + id;
                    }
                });
            });
        });
    </script>
}