@using EntityLayer.Concrete
@model List<Not>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/YazarLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Metin</th>
        <th>Tarih</th>
        <th>Yazar</th>
        <th>Silindi mi?</th>
        <th>Detaylar</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Konu</td>
            <td>@item.Metin</td>
            <td>@item.Tarih</td>
            <td>@item.Yazar.Ad @item.Yazar.Soyad</td>
            <td>@item.NotSil</td>
            <td><a href="#" class="btn btn-primary">Detay</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>