@model EntityLayer.Concrete.Yazar
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="mb-4 text-center">Kayıt Ol</h3>
<div class="row justify-content-center">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Register", FormMethod.Post))
        {
            <div class="mb-3">
                <label for="ad" class="form-label">Ad:</label>
                @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Ad, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <label for="soyad" class="form-label">Soyad:</label>
                @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Soyad, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-posta:</label>
                @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <label for="sifre" class="form-label">Şifre:</label>
                <div class="input-group">
                    @Html.PasswordFor(x => x.Sifre, new { @class = "form-control", @id = "sifre" })
                    <button class="btn btn-outline-secondary" type="button" id="showPassword">
                        <i class="fa fa-eye"></i>
                    </button>
                </div>
                @Html.ValidationMessageFor(x => x.Sifre, "", new { @class = "text-danger" })
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg">Kaydet</button>
            </div>
        }
    </div>
</div>